body{
    background-color: rgba(74, 125, 235, 0.729);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}